#content {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    padding: 1%;
    background-color: rgba(255,255,255,0.8);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#content h1, h2, h3 {
    text-align: center;
}

.contentArea {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    border-radius: 5px;
    border: 1.5px solid black;
    background-color: rgba(255,255,255,0.8);
}

.result {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.error {
    color: darkred;
    font-weight: bolder;
    text-decoration: underline;
}

.message {
    color: darkblue;
    font-weight: bolder;
}

.inputItem {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.eventPost {
    width:100%;
    min-width: 300px;
    max-width: 480px;
    border-radius: 5px;
    border: 2px solid black;
    float: left;
    margin: 0.9%;
}

#postContain {
    width:auto;
    margin-left: auto;
    margin-right: auto;
}

/*Event Stuff*/
[class*="round-"], .winner {
    display: inline-table;
    float: none;
    padding: 15px;
}

.eventContainer {
    width: 100%;
    text-align: center;
    white-space: nowrap;
    overflow: auto;
}

.eventContainer h4 {
    text-align: center;
}

.eventContainer label {
    font-size: 18px;
}

[class*="game-"] {
    background-color: lightblue;
    border: 1px black solid;
    border-radius: 2px;
}



.game-1 {
    margin-top: 1%;
}

.game-1:first-of-type {
    margin-top: 0%;
}

.game-2 {
    margin-top: 31%;
}

.game-2:first-of-type {
    margin-top: 15%;
}

.game-3 {
    margin-top: 91%;
}

.game-3:first-of-type {
    margin-top: 44%;
}

.game-4 {
    margin-top: 210%;
}

.game-4:first-of-type {
    margin-top: 106%;
}

.game-5 {
    margin-top: 252%;
}

.game-5:first-of-type {
    margin-top: 225%;
}

.bracket {
    fill: none;
    stroke: black;
    stroke-width: 2px;
}

.player {
    width: auto;
    text-align: left;
}

.playerButton {

}


