#sideBar {
    position: fixed;
    height: 100%;
    width: 250px;
    left: -250px;
    background: RGBA(0,0,0,0.75);
    overflow: hidden;
    -moz-transition: left ease .4s;
    -o-transition: left ease .4s;
    -webkit-transition: left ease .4s;
    transition: left ease .4s;
}

#sideBar.hide-sidebar {
    left: 0px;
    -moz-transition: left ease .4s;
    -o-transition: left ease .4s;
    -webkit-transition: left ease .4s;
    transition: left ease .4s;
}

#mainArea {
    width: 100%;
    margin: 0;
    top: 0;
    margin-left: 0;
    -moz-transition: margin-left ease .4s;
    -o-transition: margin-left ease .4s;
    -webkit-transition: margin-left ease .4s;
    transition: margin-left ease .4s;
}

#mainArea.hide-sidebar {
    margin-left: 250px;
    -moz-transition: margin-left ease .4s;
    -o-transition: margin-left ease .4s;
    -webkit-transition: margin-left ease .4s;
    transition: margin-left ease .4s;
}

#headerArea {
    width: 100%;
    height: 200px;
    background-color: RGBA(0,0,0,0.75);
}

#logoImage {
    position: absolute;
    right: 50px;
}

#menuButton {
    left: -42px;
    top: 75px;
    position: fixed;
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
    -moz-transition: left ease .4s, transform ease .8s;
    -o-transition: left ease .4s, transform ease .8s;
    -webkit-transition: left ease .4s, transform ease .8s;
    transition: left ease .4s, transform ease .8s;
}

#menuButton.hide-sidebar {
    left: 60px;
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
    -moz-transition: left ease .4s, transform ease .8s;
    -o-transition: left ease .4s, transform ease .8s;
    -webkit-transition: left ease .4s, transform ease .8s;
    transition: left ease .4s, transform ease .8s;
}

#mobileMenuButton {
    background-color: RGBA(0,0,0,0.6);
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    display: none;
    border: 1px solid white;
    border-radius: 5px;
}

nav {
    text-align: left;
    margin-top: 200px;
}

#navItems {
    padding-left: 25px;
    margin-left: auto;
    margin-right: auto;
}

.navLink {
    display: block;
    width: 90%;
    font-size: 28px;
    font-weight: bold;
    color: black;
    margin-top: 20px;
    text-decoration: none;
    line-height: 1;
    vertical-align: middle;
}

a.navLink {
    color: white;
}

.navLink:hover {
    border: aliceblue 2px solid;
    border-left: none;
    border-right: none;
    border-radius: 5px;
}

.navIcon {
    float: right;
    right: 5px;
}